{% extends "personal/header.html" %}

{% block content %}

<div class="contact-page">
    <div class="container-fluid">
        <div class="center">
            {% load staticfiles %}
            <link rel="stylesheet" href="{% static 'personal/css/contact_page.css' %}" type="text/css"/>
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
                  integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
                  crossorigin="anonymous">
        </div>

        <div id="emailSent">
            {% for message in messages %}
            <p {% if message.tags == "success" %} class="alert alert-success" {% endif %}> {{ message }}</p>
            {% endfor %}
        </div>

        <section id="contact" class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="ser-title">Contact us</h2>
                        <hr class="botm-line">
                    </div>
                    <div class="col-md-4 col-sm-4 info" style="margin-top:90px;">
                        <h3>Contact Info</h3>
                        <div class="space"></div>
                        <p><i class="fa fa-map-marker fa-fw pull-left fa-2x"></i>Yate<br> Bristol, BS37</p>
                        <div class="space"></div>
                        <p><i class="fa fa-envelope fa-fw pull-left fa-2x"></i>michaellansdown0@gmail.com</p>
                        <div class="space"></div>
                        <p><i class="fa fa-phone fa-fw pull-left fa-2x"></i>07880 208433</p>
                    </div>
                    <div class="col-md-8 col-sm-8 marb20">
                        <div class="contact-info">
                            <h3 class="cnt-ttl">Use the form below to send us details of your enquiry.</h3>
                            <div class="space"></div>
                            <div id="sendmessage">Your message has been sent. Thank you!</div>
                            <div id="errormessage"></div>
                            <form action="" method="post" role="form" class="contactForm" _lpchecked="1">
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control br-radius-zero" id="name"
                                           placeholder="Your Name" data-rule="minlen:4"
                                           data-msg="Please enter at least 4 chars">
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control br-radius-zero" name="email" id="email"
                                           placeholder="Your Email" data-rule="email"
                                           data-msg="Please enter a valid email">
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control br-radius-zero" name="subject" id="subject"
                                           placeholder="Subject" data-rule="minlen:4"
                                           data-msg="Please enter at least 8 chars of subject">
                                    <div class="validation"></div>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control br-radius-zero" name="message" rows="5"
                                              data-rule="required" data-msg="Please write something for us"
                                              placeholder="Message"></textarea>
                                    <div class="validation"></div>
                                </div>

                                <div class="form-action">
                                    <button type="submit" class="btn btn-form">Send Message</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}