{% extends "personal/header.html" %}


{% block content %}
<div class="row">


    <div id="home" class="col-md-8">
        <p class="h3">Welcome to First Choice Decorators Ltd</p>
        <p class="h4">Experienced Painters and Decorators based in Bristol</p>
        <p>We are a passionate family run business with over 5 years experience and provide a professional service to
            customers in the South West.
            We strive to deliver an excellent service to our customers, and consistency receive positive feedback and
            exceed client exceed expectations.
            from our clients. </p>


    </div>

    <div id="home-right" class="col-md-4">
        <a href="/contact" class="btn btn-primary btn-lg">Request a Free Quote</a>
    </div>
</div>

{% endblock %}

