{% extends "personal/header.html" %}


{% block content %}

<!-- Image and Video lightbox from: http://ashleydw.github.io/lightbox/ -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js.map"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js.map"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css"/>

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'personal/css/portfolio.css' %}" type="text/css"/>

<h1 class="text-center">Browse our latest work</h1>

<p class="page-description text-center">We take pride in providing a fast, clean, professional service to our
    customers</p>

<script>
function toggleImagesAndVideos(btnType) {
    var images = document.getElementById("images");
    var videos = document.getElementById("videos");

    var image = "image"
    var video = "video"

    if (btnType === image) {
        if (images.style.display === "none") {
        images.style.display = "block";
        videos.style.display = 'none'
        }
    }

        if (btnType === video) {
        if (videos.style.display === "none") {
        images.style.display = "none";
        videos.style.display = 'block'
        }
    }
}

</script>

<div class="portfolio-buttons-toggle">
    <button type="button" class="btn f btn-light" onclick="toggleImagesAndVideos('image')">Images</button>
    <button type="button" class="btn f btn-light" onclick="toggleImagesAndVideos('video')">Videos</button>
</div>

<div class="row justify-content-center">

    <div id="images">
        <div row>
            {% for image in object_list %}
            <a class="col-sm-4" href="{{ image.url }}" data-toggle="lightbox" data-gallery="example-gallery">
                <img class="img-fluid" src="{{ image.url }}" height="{{ image.height }}" width="{{ image.width }}">
            </a>
            {% endfor %}
        </div>


    </div>
    <div id="videos" style="display:none;">
        <div class="row">
            {% for video in videos %}
            <a href="https://www.youtube.com/watch?v={{ video.youtube_video_identifier }}" data-toggle="lightbox"
               data-gallery="youtubevideos"
               class="col-sm-4">
                <img src="http://i1.ytimg.com/vi/{{ video.youtube_video_identifier }}/mqdefault.jpg" class="img-fluid">
            </a>
            {% endfor %}
        </div>

    </div>
</div>
<script>
            $(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });














</script>


{% endblock %}